.myhome{
    // background-image: url("../../assets/images/bulb.jpg");
    // background-color: #094a5c;
    background-color:#61a6b1;
    background-repeat: no-repeat;
    // width:100%;
    background-size: 100% 100%;
}