<div class="m-3">
    <h3>Registered Users List</h3>
    <table class="table table-stripede border border-secondary ">
        <thead>
            <tr>
                <th>FullName</th>
                <!-- <th>FirstName</th>
                <th>LastName</th> -->
                <th>Email ID</th>
                <!-- <th>Password</th> -->
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Mobile Number</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody class="border">
            <tr *ngFor="let user of userList">
                <td>{{user.fullname}}</td>
                <!-- <td>{{user.lastname}}</td> -->
                <td>{{user.emailId}}</td>
                <!-- <td>{{user.password}}</td> -->
                <td>{{user.country}}</td>
                <td>{{user.state}}</td>
                <td>{{user.city}}</td>
                <td>{{user.phoneno}}</td>
                <td *ngFor="let i of user?.skills">{{i?.skill}}</td>
            </tr>
        </tbody>
    </table>
</div>