<!-- <app-structure></app-structure><br>
<app-attribute></app-attribute> -->
<!-- <a routerLink="attribute">Attribute Component</a>
<br>
<a routerLink="structure">Structure Component</a> -->

<div class="header d-flex w-100 justify-content-between">
    <div class="d-flex align-items-center">
        <div class="brandlogo overflow-hidden mx-2">
            <a routerLink="home">
                <img src="../assets/images/logo1.PNG">
            </a>
        </div>
        <h4 class="text-white">Learn Angular</h4>
    </div>
    <ul class="nav d-flex align-items-center me-3">

        <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                routerLink="directives">Directives</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="directives/attribute">Attribute Component</a></li>
                <li><a class="dropdown-item" routerLink="directives/structure">Structure Component</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Pipes</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="inbuiltpipe">Inbuilt Pipes</a></li>
                <li><a class="dropdown-item" routerLink="custompipe">Custom Pipes</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="customers">Customers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="forms">Rective Form</a>
        </li>

    </ul>
</div>
<router-outlet></router-outlet>