/* You can add global styles to this file, and also import other style files */

//overlay inbuilt css file
@import '@angular/cdk/overlay-prebuilt.css';

//bootstrap min css file
@import "~bootstrap/dist/css/bootstrap.min.css";

//bootstrap icon css file
@import '/node_modules/bootstrap-icons/font/bootstrap-icons';

//base index files
@import "../src/assets/scss/base/index";

//vendor index file
@import "../src/assets/scss/vendor/index";

//utilities index file
@import "../src/assets/scss/utilities/index";

/* global */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
}

// Overlay backdrop styling
.overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

// Overlay panel styling
.overlay-panel {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
}