/* You can add global styles to this file, and also import other style files */

//bootstrap min css file
@import "~bootstrap/dist/css/bootstrap.min.css";

//base files
@import "../src/assets/scss/base/index";
@import "../src/assets/scss/vendor/index";

/* global */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
}