.btn-custom{
    height:40px;
    width:80px;
    background-color: #11637a;
    color: white;
    border: none;
}

form{
    width:500px;
    margin:auto;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #11637a
}
