.logo{
    height:100px;
    width:200px
}
form{
    width:400px;
    height:400px
}
.bi-plus-circle-fill{
    font-size: 30px;
    cursor: pointer;
}
.bi-x-circle-fill{
    font-size: 30px;
    cursor: pointer;
}