$font-family: 'Poppins', sans-serif;

//colors
$primary: #4492fa;
$border-color: #ebebeb;

$theme-color: (
    "primary": $primary,
    "warning": #FFC107,
    "success": #4CAF50,
    "error": #FF5722,
);